<!-- <mat-toolbar-row> -->
    <button mat-button [matMenuTriggerFor]="misReportssub">MIS Reports
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #misReportssub="matMenu" yPosition="below">
        <button mat-menu-item [matMenuTriggerFor]="trips">Trips</button>
        <button mat-menu-item [matMenuTriggerFor]="diesel">Diesel Data</button>
    </mat-menu>
    
    <mat-menu #trips="matMenu" yPosition="below">
        <a mat-menu-item [routerLink]="'/trips'"> View </a>
        <a mat-menu-item [routerLink]="'/trips/add'">Add</a>
    </mat-menu>
    
    <mat-menu #diesel="matMenu" yPosition="below">
        <a mat-menu-item [routerLink]="'/diesel'"> View </a>
        <a mat-menu-item [routerLink]="'/diesel/add'">Add </a>
    </mat-menu>


    <!-- <button mat-button [matMenuTriggerFor]="myDetails">My Details
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #myDetails="matMenu" yPosition="below">
        <a mat-menu-item [routerLink]="'/tripdetails/add'"> Add s </a>
        <a mat-menu-item [routerLink]="'/trips'"> View </a>
    </mat-menu> -->
<!-- </div> -->
<!-- </mat-toolbar-row> -->