<!-- <mat-toolbar-row> -->
    <button mat-button [matMenuTriggerFor]="misReports">MIS Reports
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #misReports="matMenu" yPosition="below">
        <a mat-menu-item [routerLink]="'/trips'"> View Trips </a>
        <a mat-menu-item [routerLink]="'/trips/add'">Add Trips</a>
    </mat-menu>


    <!-- <button mat-button [matMenuTriggerFor]="myDetails">My Details
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #myDetails="matMenu" yPosition="below">
        <a mat-menu-item [routerLink]="'/tripdetails/add'"> Add s </a>
        <a mat-menu-item [routerLink]="'/trips'"> View </a>
    </mat-menu> -->
<!-- </div> -->
<!-- </mat-toolbar-row> -->