<mat-card fxLayout="row" class="filter">
    <mat-card-title>Vehicle Trips</mat-card-title>
    <mat-card-content>
        <app-date-filter (emitter)="onDateSelected($event)"></app-date-filter>
        <div *ngIf="role == userType.ADMIN; then driverFilter"></div>
        <ng-template #driverFilter>
            <app-generic-select width=150 keyToUpdate='driverId' [objectToUpdate]="filterObj" label="Driver"
                [options]='dataService.fetchDrivers()' (emitter)="onDriverSelected($event)">
            </app-generic-select>
        </ng-template>
        <button class="filter-button" mat-raised-button color="primary" (click)="fetchTrips()">Submit</button>
    </mat-card-content>
</mat-card>

<mat-toolbar color="white">
    <mat-toolbar-row>
        <mat-icon class="fa-solid excel" color="primary" fontIcon="fa-file-excel" (click)="exportTable()">
        </mat-icon>
        <span class="menu-spacer"></span>
        <mat-paginator  #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = onPageChange($event)">
        </mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>


<table mat-table [dataSource]="trips">
    <caption></caption>
    <ng-container matColumnDef="expandedDetail" [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        <th mat-header-cell *matHeaderCellDef>
            {{ col.label }}
        </th>

        <td mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'">
            <div [ngSwitch]="col.type">
                <span *ngSwitchCase="'date'">
                    {{ element[col.key] | date: 'yyyy-MM-dd' }}
                </span>
                <span *ngSwitchDefault>
                    {{ element[col.key] }}
                </span>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns" [ngClass]="'customWidthClass'"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>

</table>