<mat-card>
    <mat-card-title>Vehicle Trips</mat-card-title>
    <br />
    <mat-card-content>
        <app-date-filter (emitter)="onDateSelected($event)"></app-date-filter>
        <app-generic-select keyToUpdate='driverId' [objectToUpdate]="filterObj" label="Driver"
            [options]='dataService.fetchDrivers()' (emitter)="onDriverSelected($event)">
        </app-generic-select>
        <app-generic-select keyToUpdate="regno" [objectToUpdate]="filterObj" label="Vehicle"
            [options]='dataService.fetchAllRegnos()' (emitter)="onRegnoSelected($event)">
        </app-generic-select>
        <app-spinner-button class="filter-button" [inProgress]='fetching' label='Submit' (emitter)="fetchTrips()">
        </app-spinner-button>
    </mat-card-content>
</mat-card>

<div class="wrapper">
    <mat-toolbar class="grey-background">
        <mat-toolbar-row class="right-align">
            <app-spinner-excel-icon [spinnerRadius]="20" [inProgress]= 'downloadInProgress' (emitter)="exportTable()"></app-spinner-excel-icon>
            <span class="menu-spacer"></span>
            <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = onPageChange($event)">
            </mat-paginator>
        </mat-toolbar-row>
    </mat-toolbar>


    <table mat-table [dataSource]="trips">
        <caption></caption>
        <ng-container matColumnDef="expandedDetail" [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
            <th class="headercell" style="text-align: center;" mat-header-cell *matHeaderCellDef>
                {{ col.label }}
            </th>

            <td mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'">
                <div class="datacell" [ngSwitch]="col.type">
                    <span *ngSwitchCase="'date'">
                        {{ element[col.key] | date: 'yyyy-MM-dd' }}
                    </span>
                    <span *ngSwitchDefault>
                        {{ element[col.key] }}
                    </span>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns" [ngClass]="'customWidthClass'"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>

    </table>
</div>