<mat-card fxLayout="row wrap" class="filter">
    <h2>Vehicle Trips</h2>
    <mat-card-content>
        <mat-label>From Date</mat-label>
        <span class="menu-spacer"></span>
        <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="from" [value]="date.value">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
            <mat-datepicker #from></mat-datepicker>
        </mat-form-field>
        
        <span class="menu-spacer"></span>

        <mat-label>To Date</mat-label>
        <span class="menu-spacer"></span>
        <mat-form-field appearance="fill">
            <!-- <mat-label>To Date</mat-label> -->
            <input matInput [matDatepicker]="to" [value]="date.value">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
            <mat-datepicker #to></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field appearance="fill"> -->
            <button mat-raised-button color="primary">Submit</button>
        <!-- </mat-form-field> -->
    </mat-card-content>
</mat-card>



<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>