.expanded-toolbar {
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    height: 100%;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}



