.expanded-toolbar {
    justify-content: space-between;
    align-items: center;
}

.routerwrapper {
    width: 100%;
    height: auto !important;
    min-height: 100%;
    overflow: auto;
    height: 100%;
}



