<button mat-button [matMenuTriggerFor]="misReportssub">MIS Reports
    <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #misReportssub="matMenu" yPosition="below">
    <button mat-menu-item [matMenuTriggerFor]="trips">Trips</button>
    <button mat-menu-item [matMenuTriggerFor]="diesel">Diesel</button>
</mat-menu>

<mat-menu #trips="matMenu" yPosition="below">
    <a mat-menu-item [routerLink]="'/trips'"> View Trips </a>
    <a mat-menu-item [routerLink]="'/trips/add'">Add Trips</a>
</mat-menu>

<mat-menu #diesel="matMenu" yPosition="below">
    <a mat-menu-item [routerLink]="'/diesel'"> View Diesel Report </a>
    <a mat-menu-item [routerLink]="'/diesel/add'">Add Diesel Report</a>
</mat-menu>

<button mat-button [matMenuTriggerFor]="sites">Sites
    <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #sites="matMenu" yPosition="below">
    <a mat-menu-item [routerLink]="'/sites'"> View Sites</a>
    <a mat-menu-item [routerLink]="'/sites/add'"> Add Site </a>
</mat-menu>

<button mat-button [matMenuTriggerFor]="supervisors">Supervisors
    <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #supervisors="matMenu" yPosition="below">
    <a mat-menu-item [routerLink]="'/supervisors'"> View</a>
    <a mat-menu-item [routerLink]="'/supervisors/add'"> Add </a>
</mat-menu>

<button mat-button [matMenuTriggerFor]="drivers">Drivers
    <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #drivers="matMenu" yPosition="below">
    <a mat-menu-item [routerLink]="'/drivers'"> View</a>
    <a mat-menu-item [routerLink]="'/drivers/add'"> Add </a>
</mat-menu>