mat-card {
    margin-top: 1%;
}

.menu-spacer {
    flex: 0.01 0.01 auto;
}

mat-toolbar {
    background-color: rgb(237, 236, 236);
}

mat-toolbar-row {
    width: 100%;
    /* background-color: white; */
    margin-left: 75%;
}

mat-card-content {
    flex-grow: 1;
    margin-top: 0.5%;
}

mat-card-actions {
    display: inline-block;
    align-self: flex-end;
    padding-left: 95%;
}

.excel {
    /* margin-top: 1%; */
    /* margin-left: 95%; */
    font-size: 24px;
    color: green;
}

table {
    min-width: 100%;
    /* width: 100%; */
}


.btn-edit {
    text-align: right;
}

.mat-header-row {
    font-size: medium;
}

.mat-header-cell {
    font-size: medium;
    justify-content: center;
}

.mat-cell {
    font-size: medium;
    height: auto;
    justify-content: center;
}


.mat-row {
    font-size: medium;
    height: auto;
}

.mat-form-field {
    width: 70px !important
}

/* mat-form-field input[type='date'] {
    background-color: #f17517;
    width: 100px !important
} */

td,
th {
    white-space: normal;
    word-wrap: break-word;
    /* max-width: 200px; */
}